*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pageMargin: clamp(16px, calc(40vw / 7.68), 40px);
}

body.scrollLock {
  overflow: hidden;
  touch-action: none;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  line-height: 150%;
  font-size: clamp(1rem, calc(18vw / 7.68), calc(18rem / 16));
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 5px;
}

html {
  scroll-padding-top: 114px;
}

svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

sup {
  font-size: 0.6em;
  vertical-align: top;
}

input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
}

summary {
  cursor: pointer;
  list-style: none;

  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}

iframe {
  border: none;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  margin: clamp(36px, calc(52vw / 7.68), 64px) auto clamp(36px, calc(52vw / 7.68), 64px) ;

  &>*:not(:last-child) {
    margin-bottom: var(--space-gap);
  }
}

.container {
  max-width: 1240px;
  width: calc(100% - var(--pageMargin) * 2);
  margin: 0 auto;
  height: 100%;
}
